In [ ]:
練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等¶
有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

可參考該基礎教材或自行 google

In [9]:
import os
import numpy as np
import pandas as pd

In [10]:
#設定 data_path
dir_data='./data/'

In [13]:
f_app=os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' %(f_app))
app_train=pd.read_csv(f_app)

Path of read in data: ./data/application_train.csv


application_train.csv的資訊

In [14]:
app_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Columns: 122 entries, SK_ID_CURR to AMT_REQ_CREDIT_BUREAU_YEAR
dtypes: float64(65), int64(41), object(16)
memory usage: 286.2+ MB


資料的 row 數以及 column 數

In [18]:
print('rows=',len(app_train))
print('columns=',len(app_train.columns))

rows= 307511
columns= 122


列出所有欄位

In [19]:
app_train.columns

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=122)



截取部分資料

In [21]:
app_train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [22]:
app_train.head(3)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [23]:
app_train.tail()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
307506,456251,0,Cash loans,M,N,N,0,157500.0,254700.0,27558.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307507,456252,0,Cash loans,F,N,Y,0,72000.0,269550.0,12001.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307508,456253,0,Cash loans,F,N,Y,0,153000.0,677664.0,29979.0,...,0,0,0,0,1.0,0.0,0.0,1.0,0.0,1.0
307509,456254,1,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307510,456255,0,Cash loans,F,N,N,0,157500.0,675000.0,49117.5,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,1.0

In [24]:
app_train.columns[0]

'SK_ID_CURR'

In [25]:
app_train[['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE']].head(10)

   SK_ID_CURR  TARGET NAME_CONTRACT_TYPE
0      100002       1         Cash loans
1      100003       0         Cash loans
2      100004       0    Revolving loans
3      100006       0         Cash loans
4      100007       0         Cash loans
5      100008       0         Cash loans
6      100009       0         Cash loans
7      100010       0         Cash loans
8      100011       0         Cash loans
9      100012       0    Revolving loans

In [28]:
index = 1
for a in app_train.columns:
    print('[',index,']',a)
    index += 1

[ 1 ] SK_ID_CURR
[ 2 ] TARGET
[ 3 ] NAME_CONTRACT_TYPE
[ 4 ] CODE_GENDER
[ 5 ] FLAG_OWN_CAR
[ 6 ] FLAG_OWN_REALTY
[ 7 ] CNT_CHILDREN
[ 8 ] AMT_INCOME_TOTAL
[ 9 ] AMT_CREDIT
[ 10 ] AMT_ANNUITY
[ 11 ] AMT_GOODS_PRICE
[ 12 ] NAME_TYPE_SUITE
[ 13 ] NAME_INCOME_TYPE
[ 14 ] NAME_EDUCATION_TYPE
[ 15 ] NAME_FAMILY_STATUS
[ 16 ] NAME_HOUSING_TYPE
[ 17 ] REGION_POPULATION_RELATIVE
[ 18 ] DAYS_BIRTH
[ 19 ] DAYS_EMPLOYED
[ 20 ] DAYS_REGISTRATION
[ 21 ] DAYS_ID_PUBLISH
[ 22 ] OWN_CAR_AGE
[ 23 ] FLAG_MOBIL
[ 24 ] FLAG_EMP_PHONE
[ 25 ] FLAG_WORK_PHONE
[ 26 ] FLAG_CONT_MOBILE
[ 27 ] FLAG_PHONE
[ 28 ] FLAG_EMAIL
[ 29 ] OCCUPATION_TYPE
[ 30 ] CNT_FAM_MEMBERS
[ 31 ] REGION_RATING_CLIENT
[ 32 ] REGION_RATING_CLIENT_W_CITY
[ 33 ] WEEKDAY_APPR_PROCESS_START
[ 34 ] HOUR_APPR_PROCESS_START
[ 35 ] REG_REGION_NOT_LIVE_REGION
[ 36 ] REG_REGION_NOT_WORK_REGION
[ 37 ] LIVE_REGION_NOT_WORK_REGION
[ 38 ] REG_CITY_NOT_LIVE_CITY
[ 39 ] REG_CITY_NOT_WORK_CITY
[ 40 ] LIVE_CITY_NOT_WORK_CITY
[ 41 ] ORGANIZATION_TYPE
[ 42 ] EXT_SOURCE_1
[ 43 ] EXT_SOURCE_2
[ 44 ] EXT_SOURCE_3
[ 45 ] APARTMENTS_AVG
[ 46 ] BASEMENTAREA_AVG
[ 47 ] YEARS_BEGINEXPLUATATION_AVG
[ 48 ] YEARS_BUILD_AVG
[ 49 ] COMMONAREA_AVG
[ 50 ] ELEVATORS_AVG
[ 51 ] ENTRANCES_AVG
[ 52 ] FLOORSMAX_AVG
[ 53 ] FLOORSMIN_AVG
[ 54 ] LANDAREA_AVG
[ 55 ] LIVINGAPARTMENTS_AVG
[ 56 ] LIVINGAREA_AVG
[ 57 ] NONLIVINGAPARTMENTS_AVG
[ 58 ] NONLIVINGAREA_AVG
[ 59 ] APARTMENTS_MODE
[ 60 ] BASEMENTAREA_MODE
[ 61 ] YEARS_BEGINEXPLUATATION_MODE
[ 62 ] YEARS_BUILD_MODE
[ 63 ] COMMONAREA_MODE
[ 64 ] ELEVATORS_MODE
[ 65 ] ENTRANCES_MODE
[ 66 ] FLOORSMAX_MODE
[ 67 ] FLOORSMIN_MODE
[ 68 ] LANDAREA_MODE
[ 69 ] LIVINGAPARTMENTS_MODE
[ 70 ] LIVINGAREA_MODE
[ 71 ] NONLIVINGAPARTMENTS_MODE
[ 72 ] NONLIVINGAREA_MODE
[ 73 ] APARTMENTS_MEDI
[ 74 ] BASEMENTAREA_MEDI
[ 75 ] YEARS_BEGINEXPLUATATION_MEDI
[ 76 ] YEARS_BUILD_MEDI
[ 77 ] COMMONAREA_MEDI
[ 78 ] ELEVATORS_MEDI
[ 79 ] ENTRANCES_MEDI
[ 80 ] FLOORSMAX_MEDI
[ 81 ] FLOORSMIN_MEDI
[ 82 ] LANDAREA_MEDI
[ 83 ] LIVINGAPARTMENTS_MEDI
[ 84 ] LIVINGAREA_MEDI
[ 85 ] NONLIVINGAPARTMENTS_MEDI
[ 86 ] NONLIVINGAREA_MEDI
[ 87 ] FONDKAPREMONT_MODE
[ 88 ] HOUSETYPE_MODE
[ 89 ] TOTALAREA_MODE
[ 90 ] WALLSMATERIAL_MODE
[ 91 ] EMERGENCYSTATE_MODE
[ 92 ] OBS_30_CNT_SOCIAL_CIRCLE
[ 93 ] DEF_30_CNT_SOCIAL_CIRCLE
[ 94 ] OBS_60_CNT_SOCIAL_CIRCLE
[ 95 ] DEF_60_CNT_SOCIAL_CIRCLE
[ 96 ] DAYS_LAST_PHONE_CHANGE
[ 97 ] FLAG_DOCUMENT_2
[ 98 ] FLAG_DOCUMENT_3
[ 99 ] FLAG_DOCUMENT_4
[ 100 ] FLAG_DOCUMENT_5
[ 101 ] FLAG_DOCUMENT_6
[ 102 ] FLAG_DOCUMENT_7
[ 103 ] FLAG_DOCUMENT_8
[ 104 ] FLAG_DOCUMENT_9
[ 105 ] FLAG_DOCUMENT_10
[ 106 ] FLAG_DOCUMENT_11
[ 107 ] FLAG_DOCUMENT_12
[ 108 ] FLAG_DOCUMENT_13
[ 109 ] FLAG_DOCUMENT_14
[ 110 ] FLAG_DOCUMENT_15
[ 111 ] FLAG_DOCUMENT_16
[ 112 ] FLAG_DOCUMENT_17
[ 113 ] FLAG_DOCUMENT_18
[ 114 ] FLAG_DOCUMENT_19
[ 115 ] FLAG_DOCUMENT_20
[ 116 ] FLAG_DOCUMENT_21
[ 117 ] AMT_REQ_CREDIT_BUREAU_HOUR
[ 118 ] AMT_REQ_CREDIT_BUREAU_DAY
[ 119 ] AMT_REQ_CREDIT_BUREAU_WEEK
[ 120 ] AMT_REQ_CREDIT_BUREAU_MON
[ 121 ] AMT_REQ_CREDIT_BUREAU_QRT
[ 122 ] AMT_REQ_CREDIT_BUREAU_YEAR


取出欄位 CODE_GENDER = F 且 NAME_CONTRACT_TYPE = Revolving loans

In [30]:
condition = np.logical_and(app_train['CODE_GENDER'] == 'F',app_train['NAME_CONTRACT_TYPE'] == 'Revolving loans')
app_train[condition]

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
17,100021,0,Revolving loans,F,N,Y,1,81000.0,270000.0,13500.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
18,100022,0,Revolving loans,F,N,Y,0,112500.0,157500.0,7875.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
45,100052,0,Revolving loans,F,N,Y,1,90000.0,180000.0,9000.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
50,100058,0,Revolving loans,F,N,Y,0,54000.0,135000.0,6750.0,...,1,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
68,100080,0,Revolving loans,F,N,N,1,157500.0,450000.0,22500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,5.0
76,100088,0,Revolving loans,F,N,N,0,112500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
80,100095,0,Revolving loans,F,N,Y,2,67500.0,135000.0,6750.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
100,100119,0,Revolving loans,F,N,Y,0,54000.0,180000.0,9000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
109,100129,0,Revolving loans,F,Y,Y,1,85500.0,135000.0,6750.0,...,0,0,0,0,1.0,0.0,0.0,0.0,0.0,0.0
114,100134,0,Revolving loans,F,N,N,0,202500.0,180000.0,9000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
120,100140,0,Revolving loans,F,N,N,0,157500.0,675000.0,33750.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
147,100174,0,Revolving loans,F,N,Y,2,180000.0,225000.0,11250.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
155,100182,0,Revolving loans,F,N,Y,1,112500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
165,100194,0,Revolving loans,F,N,Y,2,157500.0,315000.0,15750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
194,100226,0,Revolving loans,F,N,N,2,112500.0,270000.0,13500.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
198,100230,0,Revolving loans,F,N,N,0,135000.0,405000.0,20250.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
201,100234,0,Revolving loans,F,N,N,0,67500.0,180000.0,9000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,0.0
233,100270,0,Revolving loans,F,N,Y,0,90000.0,337500.0,16875.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
234,100272,0,Revolving loans,F,N,Y,1,135000.0,180000.0,9000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
242,100282,1,Revolving loans,F,Y,Y,0,73341.0,135000.0,6750.0,...,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
245,100285,0,Revolving loans,F,N,Y,0,112500.0,180000.0,9000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
259,100299,0,Revolving loans,F,N,Y,0,112500.0,540000.0,27000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
264,100304,0,Revolving loans,F,N,Y,0,225000.0,675000.0,33750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
308,100354,0,Revolving loans,F,N,Y,1,112500.0,135000.0,6750.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
311,100357,0,Revolving loans,F,N,Y,0,225000.0,180000.0,9000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
313,100360,0,Revolving loans,F,N,N,0,67500.0,202500.0,10125.0,...,0,0,0,0,0.0,0.0,1.0,0.0,0.0,2.0
379,100436,0,Revolving loans,F,N,Y,0,112500.0,405000.0,20250.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0
394,100457,0,Revolving loans,F,Y,Y,0,211500.0,270000.0,13500.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
397,100460,0,Revolving loans,F,N,N,0,315000.0,540000.0,27000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
411,100475,0,Revolving loans,F,Y,Y,0,405000.0,495000.0,24750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307073,455763,0,Revolving loans,F,N,Y,1,54000.0,180000.0,9000.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307075,455765,0,Revolving loans,F,N,Y,0,126000.0,180000.0,9000.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,5.0
307076,455766,0,Revolving loans,F,Y,Y,0,112500.0,315000.0,15750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
307077,455767,0,Revolving loans,F,N,Y,1,99000.0,180000.0,9000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,6.0
307084,455774,0,Revolving loans,F,N,Y,0,90000.0,247500.0,12375.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,5.0
307122,455818,0,Revolving loans,F,N,Y,0,135000.0,270000.0,13500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307125,455821,0,Revolving loans,F,N,N,0,135000.0,337500.0,16875.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0
307128,455824,0,Revolving loans,F,N,Y,0,81000.0,180000.0,9000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,6.0
307129,455825,0,Revolving loans,F,N,Y,0,360000.0,765000.0,38250.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307133,455830,1,Revolving loans,F,N,Y,0,90000.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307137,455834,0,Revolving loans,F,N,Y,0,139500.0,180000.0,9000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,1.0
307188,455891,0,Revolving loans,F,N,Y,0,180000.0,382500.0,19125.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,3.0
307209,455917,0,Revolving loans,F,N,Y,0,180000.0,270000.0,13500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
307210,455918,0,Revolving loans,F,N,Y,0,72000.0,157500.0,7875.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
307226,455934,0,Revolving loans,F,Y,Y,0,166500.0,225000.0,11250.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
307234,455943,0,Revolving loans,F,Y,N,0,72000.0,180000.0,9000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,0.0
307235,455944,0,Revolving loans,F,N,Y,0,63000.0,180000.0,9000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307286,456003,0,Revolving loans,F,Y,Y,2,90000.0,180000.0,9000.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
307287,456004,0,Revolving loans,F,Y,Y,0,135000.0,405000.0,20250.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307298,456021,0,Revolving loans,F,N,Y,0,180000.0,405000.0,20250.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
307302,456025,0,Revolving loans,F,N,Y,0,144000.0,180000.0,9000.0,...,0,0,0,0,0.0,1.0,0.0,0.0,0.0,2.0
307314,456038,0,Revolving loans,F,N,N,1,121500.0,382500.0,19125.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307375,456100,0,Revolving loans,F,N,Y,0,63000.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
307402,456135,0,Revolving loans,F,N,Y,0,157500.0,382500.0,19125.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,6.0
307419,456152,0,Revolving loans,F,N,N,1,112500.0,450000.0,22500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,3.0
307444,456182,0,Revolving loans,F,N,Y,2,90000.0,270000.0,13500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307457,456196,0,Revolving loans,F,N,Y,2,202500.0,360000.0,18000.0,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,1.0
307467,456207,0,Revolving loans,F,N,Y,0,247500.0,675000.0,33750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307485,456229,0,Revolving loans,F,N,Y,1,270000.0,180000.0,9000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307496,456240,0,Revolving loans,F,N,N,0,360000.0,337500.0,16875.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0